<div class="buy-units-container">
    <!-- Autofocus a hidden element -->
    <span class="ui-helper-hidden-accessible"><input type="text"/></span>
    <div>
        <span>Total Cost:</span>
        <span data-bind="text: totalCost"></span>
    </div>
    <div>
        <span>Available:</span>
        <span data-bind="text: currentMoney"></span>
    </div>
    <table class="table">
        <tr>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Cost</th>
            <th>Land Move</th>
            <th>Sea Move</th>
            <th>Attack</th>
            <th>Defend</th>
        </tr>

        <!-- ko foreach:  unitInfoList -->
        <tr>
            <td>
                <div class="flex-row flex-inline noselect">
                    <div class="flex-column unit-amount-holder">
                        <input data-bind="value: amount, enable: $root.isMyTurn" class="unit-amount-input" value="0">
                    </div>
                    <div class="flex-column unit-amount-controls" data-bind="visible: $root.isMyTurn">
                        <div data-bind="click: increment">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div data-bind="click: decrement">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <img class="buy-unit-image" src="" data-bind="attr: { src: imageSrc, title: unitType}"/>
            </td>
            <!-- ko with: unitInfo -->
            <td data-bind="text: cost"></td>
            <!-- ko if: terrainType == "air" -->
                <td colspan="2" data-bind="text: move"></td>
            <!-- /ko -->
            <!-- ko if: terrainType != "air" -->
                <td data-bind="text: landMove"></td>
                <td data-bind="text: seaMove"></td>
            <!-- /ko -->
            <td data-bind="text: attack"></td>
            <td data-bind="text: defence"></td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </table>
</div>