<div>
    <!-- Autofocus a hidden element -->
    <span class="ui-helper-hidden-accessible"><input type="text"/></span>
    <div>
        <span>Total Cost:</span>
        <span data-bind="text: totalCost"></span>
    </div>
    <div>
        <span>Available:</span>
        <span data-bind="text: currentMoney"></span>
    </div>
    <table class="table">
        <tr>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Cost</th>
            <th>Move</th>
            <th>Attack</th>
            <th>Defend</th>
        </tr>

        <!-- ko foreach:  unitInfoList -->
        <tr>
            <td>
              <input data-bind="attr: {'data-type': unitType, value: $root.amount(unitType)}" class="buyAmount" value="0">
            </td>
            <td>
                <img class="buy-unit-image" src="" data-bind="attr: { src: imageSrc, title: unitType}"/>
            </td>
            <!-- ko with: unitInfo -->
            <td data-bind="text: cost"></td>
            <td data-bind="text: move"></td>
            <td data-bind="text: attack"></td>
            <td data-bind="text: defence"></td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </table>
</div>