<div class="conflict-list" data-bind="css: {'actions-enabled': actionsEnabled}">
    <div class="dialog-sub-title actions-enabled-only">
        <button id="autoresolve-all" class="btn btn-primary" data-bind="click: resolveAll">Resolve All</button>
    </div>
    <div data-bind="foreach: conflicts">
        <div class="flex-row flex-wrap conflict-row">
            <div class="territory-name" data-bind="text: territoryDisplayName"></div>
            <div>
                <button class="details btn btn-xs" data-bind="click: openBattle">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </button>
            </div>

            <div class="conflict-outcome-container" data-bind="template: templateName"></div>
        </div>
    </div>
</div>

<script id="conflict-outcome-inProgress" type="text/html">
    <div class="conflict-actions actions-enabled-only">
        <button data-bind="click: resolve" class="autoresolve-conflict btn btn-default">Resolve</button>
    </div>
</script>
<script id="conflict-outcome-attackerWin" type="text/html">
    <div class="conflict-outcome label label-warning">
        Occupied
    </div>
</script>
<script id="conflict-outcome-defenderWin" type="text/html">
    <div class="conflict-outcome label label-info">
        Defended
    </div>
</script>
<script id="conflict-outcome-draw" type="text/html">
    <div class="conflict-outcome label label-default">
        Stalemate
    </div>
</script>