<div class="side-panel flex-column flex-grow">
    <div class="actions">
        <button id="next-phase" class="btn" data-bind="show: canEndPhase, click: endPhase">Next Phase</button>
        <button class="btn" data-bind="css: {'btn-warning': infoModeActive}, click: toggleTerritoryInfoMode">Territory Info</button>
    </div>
    <div class="panels" data-bind="foreach: panels">
        <div class="panel-section" data-bind="css: {collapsed: collapsed}">
            <h3 class="panel-header" data-bind="click: $root.togglePanel, text: header"></h3>
            <div class="panel-content" data-bind="afterRender: attachContent, css: panelContentsClass"></div>
        </div>
    </div>
</div>