.ui-dialog-titlebar-close {
    display: none
}

.dialog-sub-title {
    text-align: center;
}

#editTerritoryPanel {
    background-color: #ffe45c;
    float: right;
    /* Map is 80% width */
    width: 17%;
    padding: 5px;
}

.units {
    overflow: auto;
}

.unitBlock {
    float: left;
}
.sectionHeader {
    display: table;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.territoryBlock {
    flex: 1 1;
    min-width: 100px;
}

.floatRight {
    float: right;
}