.ui-dialog-titlebar-close {
    display: none
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}

.dialog-sub-title {
    text-align: center;
}

#editTerritoryPanel {
    background-color: #ffe45c;
    float: right;
    /* Map is 80% width */
    width: 17%;
    padding: 5px;
}

.units {
    overflow: auto;
}

.disabledUnit {
    opacity: 0.5;
}

.unitBlock {
    float: left;
}
.sectionHeader {
    display: table;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.territoryBlock {
    flex: 1 1;
    min-width: 100px;
}

.floatRight {
    float: right;
}

/* Conflict list */
.conflict-row {
    width: 500px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
}

.conflict-actions,.conflict-outcome {
    width: 220px;
    float: right;
}

.conflict-actions button {
    margin: 0 5px;
}

.conflict-outcome {
    font-size: 18px;
}

/* Battle window */
.battle-info {
    min-width: 600px;
}
.casualty-section {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-right: 1px solid black;
    padding-right: 0;
}

.casualty-title {
    height: 60px;
}

.reports {
    flex: 1 1;
    overflow-y: scroll;
}

.report {
    cursor: zoom-out;
    border-bottom: 1px solid black;
}
.report.collapsed {
    cursor: zoom-in;
}

.report.collapsed .casualty-details {
    display: none;
}

.casualty-details img {
    width: 20px;
    height: 20px;
}