/* Override library styles */
.ui-dialog-titlebar-close {
    display: none
}
.close-icon {
    line-height: 22px;
    float: right;
    cursor: pointer;
}
.ui-dialog {
    border: none;
    padding: 0;
}
.ui-dialog.ui-corner-all, .ui-dialog .ui-corner-all {
    border-radius: 0;
}
.ui-dialog-titlebar {
    background: forestgreen;
    border: none;
}


/* General Styles */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-inline {
    display: inline-flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-spaced {
    justify-content: space-between;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.vertical-rule {
    width: 0;
    border-left: black solid medium;
}
.floatRight {
    float: right;
}
.title {
    font-size: 36px;
    font-weight: 500;
}

#side-panel-container {
    width: 20%;
}

.side-panel {
    background-color: lightgray;
    padding: 15px;
}

.side-panel .actions {
    flex-shrink: 0;
}

.side-panel .panel-section {
    display: flex;
    flex-direction: column;
}
.side-panel .panel-header {
    flex-shrink: 0;
    cursor: zoom-out;
}
.side-panel .collapsed .panel-header {
    cursor: zoom-in;
}
.side-panel .collapsed .panel-content {
    display: none;
}
.side-panel .panels {
    overflow-y: auto;
}

/* COMPONENT STYLES*/
.disabledUnit {
    opacity: 0.5;
}

/* Buy Units */
.buy-units-container .table {
    text-align: center;
}
.buy-unit-image {
    width: 30px;
}
.unit-amount-controls {
    margin-left: 10px;
}
.unit-amount-holder {
    justify-content: center;
    width: 30px;
}
.unit-amount-input {
    text-align: center;
}

/* Move unit window */
.move-unit-pane {
    flex-grow: 1;
    flex-basis: 50%;
}
.units {
    overflow: auto;
}
.unitBlock {
    float: left;
}
.sectionHeader {
    display: table;
}
.territoryBlock {
    flex: 1 1;
    min-width: 100px;
}

/* Bought unit section in side panel */
.bought-units-container .bought-unit-list:not(.placing-units) .bought-unit {
    float: left;
}
.bought-units-container .bought-unit-list:not(.placing-units) .placement-territory {
    display: none;
}
.bought-units-container .placing-units .bought-unit {
    cursor: pointer;
}

/* Conflict list */
.dialog-sub-title {
    text-align: center;
}
.conflict-row {
    margin: 5px;
    font-size: 18px;
}
.conflict-list:not(.actions-enabled) .actions-enabled-only {
    display: none;
}
.conflict-outcome-container {
    margin-left:auto;
}
.conflict-actions button {
    margin: 0 5px;
}
.conflict-outcome {
    font-size: 18px;
}


/* Battle window */
.battle-info {
    min-width: 600px;
}
.battlefield-right-pane {
    height: 100%;
    overflow-y:auto;
}
.casualty-section {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-right: 1px solid black;
    padding-right: 0;
}
.casualty-title {
    height: 60px;
}
.reports {
    flex: 1 1;
    overflow-y: scroll;
}
.report {
    cursor: zoom-out;
    border-bottom: 1px solid black;
}
.report.collapsed {
    cursor: zoom-in;
}
.report.collapsed .casualty-details {
    display: none;
}
.casualty-details img {
    width: 20px;
    height: 20px;
}
/* COMPONENT STYLES END */

.unit-image {
    height: 50px;
    width: 50px;
}