body, html {
    height: 100%;
}

.full-height {
    height: 100%;
}

.board-container {
    padding: 0 20px 0 50px;
}

#board {
    position: relative;
    flex-grow: 1;
}

.svg-map {
    position: absolute;
}