/*Columnizer*/
.columnize {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.panel-tile {
 position:relative;
 display: block;
}

/*Spacing utils*/
.space-out {
    margin: 5px;
}

.space-top {
    margin-top: 5px;
}

.space-top-lots {
    margin-top: 15px;
}

/*Custom panel styling*/
.panel-hoverable:hover {
    box-shadow: 0px 0px 8px rgba(82, 168, 236, 0.6);
}

/*Text*/
.text-placeholder {
    color: #767676;
}

.flex-row {
    display: flex;
}

.countries-area, .unclaimed-countries {
    min-height: 100px;
    border: dashed lightgray 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.country-label {
    white-space: nowrap;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    color: ghostwhite;
}