.svg-map {
    width:100%;
    height:100%;
}

.territory {
    opacity: 0.8;
    stroke: #4d4d4d;
    stroke-width: 1;
}

.unit-selector   {
    fill: #3e3;
}

.selectable .territory {
    stroke: gold;
    stroke-width: 2;
    cursor: pointer;
}

.selectable .territory-name {
    cursor: pointer;
    fill: #333;
}

.selected-node {
    fill: hotpink;
}