/* Map editor */

.map-editor-center {
    margin-top: 50px;
}

#editTerritoryPanel {
    flex-basis: 20%;
}

.edit-territory-form {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    background-color: #F7D658;
}

.map-holder {
    flex-basis:800px;
    height:600px;
    margin: 0 50px;
}

.action-section {
    padding: 10px;
    justify-content: center;
    display: flex;
}

.action-section .btn {
    margin: 5px;
}

.unit-info-field {
    width: 50px;
}

.image-selector .unit-image {
    margin: 20px;
}

.territory {
    opacity: 0.6;
}