/* Map editor */

.map-editor-center {
    margin-top: 50px;
}

#editTerritoryPanel {
    flex-basis: 20%;
}

.edit-territory-form {
    padding: 5px;
    background-color: #F7D658;
}

.map-holder {
    flex-basis:800px;
    height:600px;
    margin: 0 50px;
}

.action-section {
    padding: 10px;
    justify-content: center;
    display: flex;
}

.action-section .btn {
    margin: 5px;
}