<div>
    <div class="dialog-sub-title">
        <button id="autoresolve-all" class="btn btn-primary">Resolve All</button>
    </div>
    <div>
        {% for conflict in conflicts %}
        <div class="conflict-row" data-name="{{ conflict.territoryName }}">
            <span class="territory-name">{{ conflict.territoryName }}</span>
            <span>
                <button class="details btn btn-xs"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
            </span>

            {% if conflict.outcome == "inProgress" %}

            <span class="conflict-actions">
                <button class="autoresolve-conflict btn btn-default">Resolve</button>
            </span>
            {% else %}
            <span class="conflict-outcome label {% if conflict.outcome == "attackerWin" %} label-warning">
                    Occupied
                {% else %} label-info">
                    Defended
                {% endif %}
            </span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>