<div class="flex-row">
    <div class="col-md-3">
        <form>
            <div class="form-group">
                <label for="roomNameText">Room Name</label>
                <input type="text" class="form-control" id="roomNameText" placeholder="Room Name" data-bind="value: roomName, disable: !canEdit()">
            </div>
            <div class="form-group">
                <label for="moduleName">Map</label>
                <select id="moduleName" data-bind="options: modules, optionsText: 'name', value: selectedModule">
                </select>
            </div>

            <div class="form-group">
                <label for="numPlayers">Number of players</label>
                <select id="numPlayers" data-bind="options: maxPlayersOptions(), value: selectedMaxPlayersOption, disable: !canEdit()">
                </select>
            </div>

            <div class="form-group">
                <!--Manual save is a temp feature-->
                <button class="btn space-out" data-bind="click: save, disable: !canEdit()">Save</button>
                <!-- ko ifnot: started -->
                <button class="btn btn-primary pull-right space-out" data-bind="click: beginGame, disable: !canEdit()">Begin game</button>
                <!-- /ko -->
                <!-- ko if: started -->
                <button class="btn btn-primary pull-right space-out" data-bind="click: goToGame, disable: !canEdit()">Go to game</button>
                <!-- /ko -->
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        <h3>Players</h3>
        <!-- Drag and drop into player areas -->
        <div class="columnize" data-bind="foreach: players()">
            <div class="item player-info" data-bind="attr: {'data-player-id': id}">
                <div class="panel panel-default">
                    <div class="panel-heading" data-bind="text: name">
                    </div>
                    <div class="panel-body">
                        <label>Drag countries to the area below</label>
                        <div class="countries-area" data-bind="template: { name: 'country-template', foreach: assignedCountries }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Unclaimed Countries</h3>
        <div class="unclaimed-countries" data-bind="template: { name: 'country-template', foreach: unassignedCountries() }">
        </div>
    </div>

    <script type="text/html" id="country-template">
        <div class="country-label" data-bind="style: {'background-color': color}, attr: {'data-country-name': name}">
            <div data-bind="text: displayName"></div>
            <span>Team: <span data-bind="text: team"></span></span>
        </div>
    </script>
</div>