<div>
{% if ableLength %}
    <div class="row">
        <div class="center-block sectionHeader"><h4>Able</h4></div>
    </div>
    <div class="flex">
    {% for name, units in able %}
    <div class="territoryBlock">
        <h5>{{name}}</h5>
        <div class="units">
            {% for unitType, unitData in units %}
             <div class="unitBlock able" data-territory="{{name}}" data-type="{{unitType}}" data-max="{{unitData.amount}}">
                 <img src="{{unitData.imageSource}}">(<span class="selectedAmount">0</span>/{{unitData.amount}})
             </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
{% endif %}
{% if unableLength %}
    <div class="row">
        <div class="center-block sectionHeader"><h4>Not Able</h4></div>
    </div>
    <div class="flex">
    {% for name, units in unable %}
    <div class="territoryBlock">
        <h5>{{name}}</h5>
        <div class="units">
            {% for unitType, unitData in units %}
             <div class="unitBlock" title="{{unitData.reason}}">
                 <img src="{{unitData.imageSource}}">({{unitData.amount}})
             </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
{% endif %}
</div>