<div>
    <h5>From {{origin}} to {{destination}}</h5>
    <div class="territoryNames">
        {% for name, units in territories %}
        <div class="col-sm-{{columnWidth}}">{{name}}</div>
        {% endfor %}
    </div>
    <div class="unitSection row">
        <!-- Render columns -->
        {% for name, units in territories %}
        <div class="units col-sm-{{columnWidth}}">
            <!-- Render  rows -->
            <h3>Enabled</h3>
            {% for unitType, amount in units.enabled %}
             <div class="unitRow" data-territory="{{name}}" data-type="{{unitType}}" data-max="{{amount}}">
                 {{ unitType }}(<span class="selectedAmount">0</span>/{{amount}})
             </div>
            {% endfor %}
            <h3>Disabled</h3>
            <!--List units that can't move-->
            {{t.disabled}}
            {% for unitType, amount in units.disabled %}
             <div>
                 {{ unitType }}({{amount}})
             </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>