<div>
    <!-- Autofocus a hidden element -->
    <span class="ui-helper-hidden-accessible"><input type="text"/></span>
    <table class="table">
        <tr>
            <th>Unit</th>
            <th>Cost</th>
            <th>Move</th>
            <th>Attack</th>
            <th>Defend</th>
            <th></th>
        </tr>
        {% for name, info in units %}
          <tr data-type="{{name}}">
              <td>{{ name }}</td>
              <td>{{ info.cost }}</td>
              <td>{{ info.move }}</td>
              <td>{{ info.attack }}</td>
              <td>{{ info.defence }}</td>
              <td>
                  <input data-type="{{name}}" class="buyAmount" value="0"/>
              </td>
          </tr>
        {% endfor %}
    </table>
</div>