<div>
    <div class="row">
        <span class="col-sm-6">Name</span>
        <span class="col-sm-2">Income</span>
        <span class="col-sm-4">Country</span>
    </div>
    <div>
        {% for t in territories %}
            <span data-name="{{t.name}}" class="row territoryRow">
                <span class="col-sm-6">{{t.name}}</span>
                <span class="col-sm-2">{{ t.income }}</span>
                <span class="col-sm-4">{{t.country}}</span>
            </span>
        {% endfor %}
    </div>
</div>